*{
    margin:0;
    padding: 0;
}
body{
    background-color: #eff6ff;
}
.navigation-bar #logo{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navigation-bar #ai{
    color:#4361ee;
    font-size: 1.3rem;
}
.navigation-bar span{
    font-size: 1.3rem;
}
.navigation-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #eff6ff;
    height: 70px;
}
.navigation-bar #logo:hover{
    text-decoration: none;
}
.navigation-bar a{
    text-decoration: none;
    margin-top: 5px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    cursor: pointer;
    
}
.navigation-bar a:hover{
    color: #3b82f6;
    transition: 0.3s ease;
    transform: scale(1.03);
}
.navigation-bar button{
    height: 30px;
    width: 70px;
    background-color: #2563eb;
    color: #ffffff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.navigation-bar button:hover{
    transition: 0.3s;
    transform: scale(1.05);
}
.hero-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1px;
}
.right-side{
    box-shadow: 0 15px 40px rgba(25, 24, 24, 0.15);
    border-radius: 10px;
}
.right-side img{
    height: 300px;
    width: 520px;
    border-radius: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.left-side span,p{
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
}
.left-side span{
    margin-bottom:5px;
}
.left-side #text{
    color: #2563eb;
}
.left-side #element{
    color: #3b82f6;
    font-size: 1.4rem;
}
.left-side #hero-btn,#top-btn{
    height: 35px;
    width: 95px;
    margin-left: 120px;
    color: white;
    background-color: #2563eb;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
}
.left-side button:hover{
    transition: 0.2s ease;
    transform: scale(1.02);
    border: 1px solid white;
    cursor: pointer;
}
.left-side p{
    margin-top: 10px;
}
.text #feedback{
    font-size: 0.8rem;
    text-indent: 50px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero-section #top-btn{
    width: 170px;
    height: 20px;
    margin-bottom: 10px;
}
#top-btn{
    transition: none;
    transform: none;
    cursor: default;
}