{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
</head>

<body>
    <div class="container">
        <div class="navigation-bar">
            <span id="logo">🧠InterviewMentor<span id="ai">AI</span></span>
            <a id="home">Home</a>
            <a href="{% url 'practice' %}">Practice</a>
            <a>Features</a>
            <a href="{% url 'register' %}"><button>Register</button></a>
           <a href="{% url 'login' %}"><button>Log-in</button></a>
        </div>
        <hr>
        <div class="hero-section">
            <div class="left-side">
                <button id="top-btn">AI Power Excellence⚡</button>
                <br>
                <div class="hero-title">
                    <span>MASTER YOUR NEXT <span>INTERVIEW WITH</span></span> <span id="text">AI</span><br>
                    <span id="element"></span>
                    </div>
                 <a href="{% url 'login' %}"><button id="hero-btn">start now!</button></a>
            </div>
            <div class="right-side">
                <img src="{% static 'images/images1.avif' %}">
            </div>
        </div>
    </div>
    <hr id="content-line">
    <div class="heading">
        <h1>
            Choose Your Role
        </h1>
        <p>Whether you're looking to ace your dream job interview or manage a high-performance<br> recruitment team, we
            have the right tools for you.</p>
    </div>
    <div class="content-area">
        <div class="student-area">
            <a>👥</a>
            <h4>I Am a Student</h4>
            <p>Access Ai driven interview Gain your knowledge and remove your fear about the interview</p>
            <a>➡️Mock interview✅</a>
            <a>➡️Interview Quetion✅</a>
            <a>➡️Instant Feedback✅</a>
            <a>➡️Prformance Tracking✅</a>
           <a href="{% url 'login' %}"><button>Enter Student Portal ></button></a>
        </div>
        <div class="admin-area">
            <a>🤖</a>
            <h4>I Am a Admin</h4>
            <p>Access the portal and check student performance and add latest interview quetions to help the student</p>
            <a>➡️Mock interview✅</a>
            <a>➡️Interview Quetion✅</a>
            <a>➡️Instant Feedback✅</a>
            <a>➡️Prformance Tracking✅</a>
           <a href="{% url 'login2' %}"> <button>Enter Admin Portal ></button></a>
        </div>
    </div>
    <!-- <hr id="content-line"> -->
    <div class="footer-area">
        <div class="bottom-area">
        <span id="logo">🧠InterviewMentor<span id="ai">AI</span></span>
        <div class="top-area">
            <h2>Trusted By✔️</h2>
            </div>
        <div class="top-area1">
            <a>Students</a>
            <a>Companies</a>
            <a>Interviewers</a>
            <a>Learners</a>
        </div>
        <hr id="content-line1">
        <div class="content">
        <p>Empowering Carrer Through The AI-Interview</p>
        <a>Term</a>
        <a>Privacy</a>
        <a>Contact</a>
        <a>Support</a>
        </div>
        <p id="copy-right">@2026 ALL COPY-RIGHTS APPLY</p>
    </div>
    </div>

    </div>
    <script src="https://unpkg.com/typed.js@3.0.0/dist/typed.umd.js"></script>
    <!-- Setup and start animation! -->
    <script>
        var typed = new Typed('#element', {
            strings: ['Improve your technical skills with AI-powered interview practice!','And build your confidence with the Ai powered Interview'],typeSpeed: 50
        });
    </script>
</body>

</html>