{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
</head>

<body>
    <div class="container">
        <div class="navigation-bar">
            <span id="logo">🧠InterviewMentor<span id="ai">AI</span></span>
            <a>Home</a>
            <a>Practice</a>
            <a>Features</a>
            <a>Contact</a>
            <button>Log-in</button>
        </div>
        <hr>
        <div class="hero-section">
            <div class="left-side">
                <button id="top-btn">AI Power Excellence⚡</button>
                <br>
                <div class="hero-title">
                    <span>MASTER YOUR NEXT <span>INTERVIEW WITH</span></span> <span id="text">AI</span><br>
                    <span id="element"></span>
                </div>
                <!-- <br><br><br><br><br> -->
                 <button id="hero-btn">start now!</button>
            </div>
            <div class="right-side">
                <img src="{% static 'images/images1.avif' %}">
            </div>
        </div>
    </div>
    <hr id="content-line">
    <div class="heading">
        <h1>
            Choose Your Role
        </h1>
        <p>Whether you're looking to ace your dream job interview or manage a high-performance<br> recruitment team, we
            have the right tools for you.</p>
    </div>
    <div class="content-area">
        <div class="student-area">
            <a>👥</a>
            <h4>I Am a Student</h4>
            <p>Access Ai driven interview Gain your knowledge<br>and remove your fear about the interview</p>
            <a>➡️Mock interview✅</a>
            <a>➡️Interview Quetion✅</a>
            <a>➡️Instant Feedback✅</a>
            <a>➡️Prformance Tracking✅</a>
            <button>Enter Student Portal ></button>
        </div>
        <div class="admin-area">
            <a>🤖</a>
            <h4>I Am a Admin</h4>
            <p>Access the portal and check student performance <br>and add latest interview quetions</p>
            <a>➡️Mock interview✅</a>
            <a>➡️Interview Quetion✅</a>
            <a>➡️Instant Feedback✅</a>
            <a>➡️Prformance Tracking✅</a>
            <button>Enter Admin Portal ></button>
        </div>
    </div>
    <div class="footer-area">

    </div>

    </div>
    <script src="https://unpkg.com/typed.js@3.0.0/dist/typed.umd.js"></script>
    <!-- Setup and start animation! -->
    <script>
        var typed = new Typed('#element', {
            strings: ['Improve your technical skills with AI-powered interview practice!','And build your confidence with the Ai powered Interview'],
            typeSpeed: 50,
        });
    </script>
</body>

</html>