{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {{ technology.technology_name }}
        Interview
    </title>

</head>


<body>


<div class="interview-container">


    <h1>
        {{ technology.technology_name }}
        Interview
    </h1>


    <p>
        Answer all questions below.
    </p>


    <form
        method="POST"
        action="{% url 'submit_answer' %}"
    >

        {% csrf_token %}


        <!-- TECHNOLOGY ID -->

        <input
            type="hidden"
            name="technology_id"
            value="{{ technology.id }}"
        >


        {% for question in questions %}


        <div class="question-card">


            <h2>

                Question {{ forloop.counter }}

            </h2>


            <p>

                {{ question.question_text }}

            </p>


            <label>

                Your Answer

            </label>


            <textarea
                name="answer_{{ question.id }}"
                rows="7"
                placeholder="Write your answer here..."
                required
            ></textarea>


        </div>


        {% endfor %}


        <button
            type="submit"
        >

            Submit Interview

        </button>


    </form>


</div>


</body>

</html>