{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/practice.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practice page</title>
</head>
<body>
    <div class="container">
        <div class="navigation-bar">
            <span id="logo">🧠InterviewMentor<span id="ai">AI</span></span>
            <a href="{% url 'index' %}">Home</a>
            <a href="" id="practice">Practice</a>
            <a href="{% url 'feature'%}">Features</a>
            <a href="{% url 'register' %}"><button>Register</button></a>
           <a href="{% url 'login' %}"><button>Log-in</button></a>
        </div>
        <div class="hero-section">
            <div class="left-side">
                <h1>PRACTICE. IMPROVE. <br><span> GET HIRED.</span></h1>
                <p>
                    Practice smarter, build YOUR
                confidence,
                        And prepare for your NEXT
                interview with AI
                </p>
               <a> <button>START PRACTICING</button></a>
            </div>
            <div class="right-side">
            <img src="{% static 'images/practice2.jpeg' %}">
            </div>
        </div>
        <div class="content-area">
            <button>popular categories</button>
            <h1>choose what you want to practice</h1>
            <p>select a topic or role and start your AI interview practice</p>
        </div>
        <div class="cards">
            <div class="cards1">
               <!-- <img src="https://img.icons8.com/?size=100&id=l75OEUJkPAk4&format=png&color=000000"> -->
                <h3>🐍python<br> programming</h3>
                <p>50+ Questions</p>
                <a href="{% url 'interview' 'python'%}"> <button>start practicing➡️</button></a>
            </div>
            <div class="cards1">
                <h3>🔷Data structure<br>&algorithm</h3>
                <p>50+ Questions</p>
                <button>start practicing➡️</button>
            </div>
            <div class="cards1">
                <h3>🗄️SQL<br>database</h3>
                <p>50+ Questions</p>
               <a href="{% url 'interview' 'sql'%}"> <button>start practicing➡️</button></a>
            </div>
            <div class="cards1">
                <h3>🟨javascript<br> programming</h3>
                <p>50+ Questions</p>
                <a href="{% url 'interview' 'javascript'%}"> <button>start practicing➡️</button></a>
            </div>
            
        </div>
        <br><br>
        <div class="cards">
            <div class="cards2">
                <h3>🟩Django<br> framework</h3>
                <p>50+ Questions</p>
                <a href="{% url 'interview' 'django'%}"> <button>start practicing➡️</button></a>
            </div>
            <div class="cards2">
                <h3>🌐Web <br>Development</h3>
                <p>50+ Questions</p>
                <a href="{% url 'interview' 'web'%}"> <button>start practicing➡️</button></a>
            </div>
            <div class="cards2">
                <h3>⚙️System<br> Design</h3>
                <p>50+ Questions</p>
                <a href="{% url 'interview' 'systemdesign'%}"> <button>start practicing➡️</button></a>
            </div>
            <div class="cards2">
                <h3>🧠Aptitude & <br> Reasonning</h3>
                <p>50+ Questions</p>
               <a href="{% url 'interview' 'aptitute'%}"> <button>start practicing➡️</button></a>
            </div>
            
        </div>
    </div>
</body>
</html>